@media (350px <= width <= 500px) {
  section[id] {
    max-width: initial;
    min-width: initial;
    margin: initial;
    width: 100%;
    padding: 25px;
  }

  section h2 {
    font-size: 32px;
    font-weight: 600;
    margin-top: 0;
    padding-top: 0;
  }

  section h2::after,
  section h2::after {
    height: 0.75rem;
    top: calc(50% + 5px);
  }

  nav .nav__desktop {
    display: none;
  }

  nav .nav__mobile-icon {
    display: flex;
  }

  #nav:target {
    transform: translate(5.5%, -50%);
  }

  #nav:target ~ .nav__mobile-btn {
    display: none;
  }

  #nav:target ~ .nav__mobile-btn--off {
    display: block;
  }

  #nav:target ~ .nav__mobile-menu {
    animation: showMenu 0.5s forwards;
    animation-delay: 1s;
    animation-fill-mode: both;
    display: block;
  }

  #nav:target ~ .nav__mobile-icon .nav__mobile-hamburger {
    rotate: 0.125turn;
    transform: translate(0px, -3px);
  }

  #nav:target ~ .nav__mobile-icon .nav__mobile-hamburger > .line {
    stroke-dasharray: 60 105 60 300;
    stroke-dashoffset: -90;
  }

  @keyframes showMenu {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  .hero {
    padding-top: 60px;
    padding-bottom: 80px;
  }

  .hero .hero__title {
    font-size: calc(9vw + 30px);
    text-shadow: -7px 2px #000;
  }

  .hero .hero__subtitle {
    font-size: 23.5px;
    margin-top: -11px;
    opacity: 0.6;
  }

  .hero .hero__minititle {
    font-size: 11px;
    opacity: 0.5;
  }

  .hero .hero__card {
    width: 80%;
    height: auto;
    transform: translateY(-20%);
  }

  .hero .hero__card::after {
    padding: 5px;
    font-size: 16px;
  }

  .hero .hero__card .banner {
    width: 50%;
    justify-content: center;
    gap: 15px;
  }

  .hero .hero__card .banner__img.img-left,
  .hero .hero__card .banner__img.img-right {
    display: none;
  }

  .hero .hero__card .banner h3 {
    font-size: 17px;
  }

  .hero .hero__card .banner h6 {
    font-size: 9px;
  }

  #overview {
    margin-top: 75px;
  }

  .overview__image img {
    padding: 0 0 30px;
    width: 100%;
  }

  .overview__image span {
    width: calc(100% - 5px);
    left: 50%;
    bottom: 10px;
    text-align: center;
  }

  .overview__content {
    width: 100%;
    margin-left: initial;
    font-size: 14px;
    padding: 15px;
    margin-top: 15px;
  }

  .overview__content img {
    display: none;
  }

  #objectives h2 {
    margin-top: 0;
  }

  .objectives__cards {
    flex-direction: column;
    align-items: center;
  }

  .objectives__cards--card {
    padding: 25px;
  }

  .objectives__cards--card div {
    padding: 20px;
  }

  .objectives__cards--card div p {
    font-size: 12px;
  }

  #background > p,
  #background > i {
    font-size: 13px;
  }

  #background > i {
    display: inline-block;
    width: calc(100vw - 50px);
    white-space: nowrap;
    overflow-x: scroll;
  }

  .background__container p {
    font-size: 13px;
  }

  .background__container--img span {
    bottom: 10%;
    left: 50%;
    font-size: 10px;
    width: 100%;
  }

  .background__container p:first-child {
    margin-top: 10px;
  }

  .background__container h4 {
    font-size: 17px;
  }

  .background__container--img img {
    margin: initial;
    width: 100%;
    margin-bottom: 65px;
    float: initial;
  }

  #grading-policy table {
    min-width: initial;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
      rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    margin-top: 15px;
  }

  #grading-policy table tbody tr .table__heading {
    min-width: initial;
    width: initial;
  }

  #grading-policy table .table__heading.odd {
    background-color: #edc4fb33;
  }

  #grading-policy table .table__heading.even {
    background-color: #ffdec34d;
  }

  #grading-policy table tbody tr td {
    display: table-row;
  }

  #grading-policy table tbody tr:last-of-type,
  #grading-policy table tbody tr:first-of-type {
    border-bottom: none;
    border-top: none;
  }

  #grading-policy table tbody tr td h4 {
    padding: 20px 20px 0;
    font-size: 15px;
    font-weight: 500;
  }

  #grading-policy table tbody tr td ul {
    padding: 20px;
  }

  #grading-policy table tbody tr td:has(> h4) ul {
    padding-top: 5px;
  }

  #grading-policy table tbody tr td ul li {
    font-size: 13px;
  }

  #grading-policy table .table__heading h3 {
    font-size: 17px;
    padding: 20px;
    font-weight: 600;
  }

  #plagiarism {
    padding-top: 0px;
  }

  #readings {
    display: none;
  }

  .plagiarism_readings__banner {
    align-items: flex-start;
    padding: 30px;
    height: 300px;
  }

  .plagiarism_readings__banner div span {
    top: 10px;
    right: 20px;
    width: 35px;
    height: 35px;
  }

  .plagiarism_readings__banner > div.image {
    display: none;
  }

  .plagiarism_readings__banner div ul {
    margin-left: 15px;
  }

  .plagiarism_readings__banner div ul li {
    font-size: calc(1vw + 10px);
    margin-bottom: 10px;
  }

  .plagiarism_readings__banner div h4 {
    font-size: 26px;
    margin-bottom: 10px;
  }

  .plagiarism_readings__banner div p {
    font-size: calc(1vw + 10px);
  }
}
