@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins, Arial, Helvetica, sans-serif;
}

html {
  scroll-behavior: smooth;
}

/*======================== Navbar ==========================*/
.nav__desktop {
  position: fixed;
  background: #fff;
  padding: 23px;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 20px;
  width: 70%;
  min-width: 950px;
  max-width: 1300px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border-radius: 5px;
  z-index: 100;
}

.nav__desktop ul {
  display: flex;
  justify-content: space-around;
  list-style: none;
}

.nav__desktop ul li {
  padding-inline: 15px;
  font-size: 13px;
}

.nav__desktop ul li > a {
  text-decoration: none;
  color: #000;
  position: relative;
}

.nav__desktop ul li a::after {
  content: "";
  height: 2px;
  width: 0;
  background-color: #000;
  position: absolute;
  bottom: -4px;
  left: 50%;
  border-radius: 10px;
  transform: translateX(-50%);
  transition: 0.2s width ease-in;
}

.nav__desktop ul li a:hover::after {
  width: 50%;
}

.nav__mobile-btn {
  position: fixed;
  top: 15px;
  right: 15px;
  z-index: 1002;
  width: 35px;
  aspect-ratio: 1/1;
  opacity: 0;
}

.nav__mobile-icon {
  all: initial;
  display: none;
  position: fixed;
  top: 15px;
  right: 15px;
  background: #fff;
  border-radius: 50%;
  transition: background-color 0.9s;
  z-index: 1001;
}

.nav__mobile-hamburger {
  width: 35px;
  overflow: hidden;
  transition: transform 0.5s, rotate 0.5s;
}

.nav__mobile-hamburger > .line {
  transition: 0.5s;
  stroke-dasharray: 60 31 60 300;
}

.nav__mobile-menuoverlay {
  display: block;
  position: fixed;
  top: 50%;
  left: 0%;
  transform: translate(-100%, -50%);
  background: rgba(0, 0, 0, 0.2);
  border-radius: 16px;
  backdrop-filter: blur(9.4px);
  border: 1px solid rgba(255, 255, 255, 0.75);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  height: 80%;
  width: 90%;
  transition: transform 1s;
  z-index: 1000;
}

.nav__mobile-menu {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1000;
  transform: translate(-50%, -50%);
  list-style: none;
  text-align: center;
  z-index: 1002;
}

.nav__mobile-menu li {
  margin-block: 20px;
}

.nav__mobile-menu li a {
  text-decoration: none;
  color: #000;
}

.nav__mobile-btn:checked {
  height: 100vh;
  width: 100vw;
}

.nav__mobile-btn:checked ~ .nav__mobile-icon .nav__mobile-hamburger {
  rotate: 0.125turn;
  transform: translate(0px, -3px);
}

.nav__mobile-btn:checked ~ .nav__mobile-icon .nav__mobile-hamburger > .line {
  stroke-dasharray: 60 105 60 300;
  stroke-dashoffset: -90;
}

.nav__mobile-btn:checked ~ .nav__mobile-menuoverlay {
  transform: translate(5%, -50%);
}

.nav__mobile-btn:checked ~ .nav__mobile-menu {
  animation: showMenu 0.5s forwards;
  animation-delay: 1s;
  animation-fill-mode: both;
  display: block;
}

@keyframes showMenu {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/*======================== Hero Section ==========================*/
.hero {
  background-color: rgba(223, 159, 247, 0.8);
  background: linear-gradient(
    106.5deg,
    rgba(223, 159, 247, 0.8) 23%,
    rgba(255, 215, 185, 0.91) 93%
  );
  height: 100%;
  padding-top: 120px;
  padding-bottom: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.hero .hero__title {
  font-size: 170px;
  color: #fff;
  -webkit-text-stroke: 0.01em #000;
  text-shadow: -12px 7px #000;
}

.hero .hero__subtitle {
  font-size: 52px;
  margin-top: -35px;
  opacity: 0.5;
}

.hero .hero__minititle {
  font-size: 22px;
  opacity: 0.3;
}

.hero .hero__card {
  position: absolute;
  background: #fff;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 5px;
  height: 300px;
  width: 850px;
  bottom: -25%;
  transform: translateY(-10%);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10;
}

.hero .hero__card::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 0;
  height: 100%;
  border-right: 1px dashed;
}

.hero .hero__card::after {
  content: "&";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-45%, -50%);
  background: #fff;
  padding: 10px;
  font-size: 40px;
  color: #37366f;
  font-weight: 500;
}

.hero .hero__card .banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  padding: 30px 3%;
  text-align: center;
  width: 100%;
  height: 100%;
}

.hero .hero__card .banner img {
  display: block;
  width: 200px;
  height: auto;
}

.hero .hero__card .banner:last-child img {
  width: 150px;
}

.hero .hero__card .banner h3 {
  color: #525199;
  font-size: 30px;
  font-weight: 500;
}

.hero .hero__card .banner h6 {
  font-size: 23px;
  font-weight: 300;
}

/*======================== Mobile Viewport ==========================*/
@media (350px <= width <= 500px) {
  nav .nav__desktop {
    display: none;
  }

  nav .nav__mobile-icon {
    display: flex;
  }

  .hero {
    padding-top: 60px;
    padding-bottom: 80px;
  }

  .hero .hero__title {
    font-size: 62px;
    text-shadow: -7px 2px #000;
  }

  .hero .hero__subtitle {
    font-size: 23.5px;
    margin-top: -11px;
    opacity: 0.6;
  }

  .hero .hero__minititle {
    font-size: 11px;
    opacity: 0.5;
  }

  .hero .hero__card {
    width: 80%;
    height: auto;
    transform: translateY(-20%);
  }

  .hero .hero__card::after {
    padding: 5px;
    font-size: 16px;
  }

  .hero .hero__card .banner {
    width: 50%;
    justify-content: center;
    gap: 15px;
  }

  .hero .hero__card .banner img {
    display: none;
  }

  .hero .hero__card .banner h3 {
    font-size: 17px;
  }

  .hero .hero__card .banner h6 {
    font-size: 9px;
  }
}
