@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins, Arial, Helvetica, sans-serif;
}

html {
  scroll-behavior: smooth;
}

section[id] {
  width: 80%;
  max-width: 1400px;
  min-width: 850px;
  margin: 0 auto;
}

/*======================== Navbar ==========================*/
.nav__desktop {
  position: fixed;
  background: #fff;
  padding: 23px;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 20px;
  width: 80%;
  min-width: 950px;
  max-width: 1400px;
  /* box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px; */
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
  border: 1px solid;
  border-radius: 5px;
  z-index: 100;
}

.nav__desktop ul {
  display: flex;
  justify-content: space-around;
  list-style: none;
}

.nav__desktop ul li {
  padding-inline: 15px;
  font-size: 14px;
}

.nav__desktop ul li > a {
  text-decoration: none;
  color: #000;
  position: relative;
}

.nav__desktop ul li a::after {
  content: "";
  height: 2px;
  width: 0;
  background-color: #000;
  position: absolute;
  bottom: -4px;
  left: 50%;
  border-radius: 10px;
  transform: translateX(-50%);
  transition: 0.2s width ease-in;
}

.nav__desktop ul li a:hover::after {
  width: 50%;
}

.nav__mobile-btn,
.nav__mobile-btn--off {
  position: fixed;
  top: 10px;
  right: 20px;
  z-index: 1002;
  font-size: 25px;
  aspect-ratio: 1/1;
  opacity: 0;
  z-index: 1002;
}

.nav__mobile-btn--off {
  font-size: 12000px;
  display: none;
}

.nav__mobile-icon {
  all: initial;
  display: none;
  position: fixed;
  top: 15px;
  right: 15px;
  background: #fff;
  border-radius: 50%;
  transition: background-color 0.9s;
  z-index: 1001;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
}

.nav__mobile-hamburger {
  width: 35px;
  overflow: hidden;
  transition: transform 0.5s, rotate 0.5s;
}

.nav__mobile-hamburger > .line {
  transition: 0.5s;
  stroke-dasharray: 60 31 60 300;
}

.nav__mobile-menuoverlay {
  display: block;
  position: fixed;
  top: 50%;
  left: 0%;
  transform: translate(-100%, -50%);
  background: rgba(0, 0, 0, 0.2);
  border-radius: 16px;
  backdrop-filter: blur(22px);
  border: 1px solid rgba(255, 255, 255, 0.75);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  height: 80%;
  width: 90%;
  transition: transform 1s;
  z-index: 1003;
}

.nav__mobile-menu {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 1000;
  transform: translate(-50%, -50%);
  list-style: none;
  text-align: center;
  z-index: 1004;
}

.nav__mobile-menu li {
  margin-block: 20px;
  font-size: 18px;
}

.nav__mobile-menu li a {
  text-decoration: none;
  color: #000;
}

/*======================== Hero Section ==========================*/
.hero {
  background-color: rgba(223, 159, 247, 0.8);
  background: linear-gradient(
    106.5deg,
    rgba(223, 159, 247, 0.8) 23%,
    rgba(255, 215, 185, 0.91) 93%
  );
  height: 100%;
  padding-top: 120px;
  padding-bottom: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.hero .hero__title {
  font-size: 170px;
  color: #fff;
  -webkit-text-stroke: 0.01em #000;
  text-shadow: -12px 7px #000;
}

.hero .hero__subtitle {
  font-size: 52px;
  margin-top: -35px;
  opacity: 0.5;
}

.hero .hero__minititle {
  font-size: 22px;
  opacity: 0.3;
}

.hero .hero__card {
  position: absolute;
  background: #fff;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 5px;
  height: 300px;
  width: 850px;
  bottom: -25%;
  transform: translateY(-10%);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10;
}

.hero .hero__card::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 0;
  height: 100%;
  border-right: 1px dashed;
}

.hero .hero__card::after {
  content: "&";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-45%, -50%);
  background: #fff;
  padding: 10px;
  font-size: 40px;
  color: #37366f;
  font-weight: 500;
}

.hero .hero__card .banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  padding: 30px 3%;
  text-align: center;
  width: 100%;
  height: 100%;
}

.hero .hero__card .banner img {
  display: block;
  width: 200px;
  height: auto;
}

.hero .hero__card .banner:last-child img {
  width: 150px;
}

.hero .hero__card .banner h3 {
  color: #525199;
  font-size: 30px;
  font-weight: 500;
}

.hero .hero__card .banner h6 {
  font-size: 23px;
  font-weight: 300;
}

/*======================== Overview Section ==========================*/
#overview {
  margin-top: 250px;
}

#overview h2 {
  font-size: 49px;
  text-transform: uppercase;
  position: relative;
  width: fit-content;
  font-weight: 500;
}

#overview h2::after {
  content: "";
  position: absolute;
  top: calc(50% + 8px);
  left: 0;
  display: block;
  height: 1rem;
  width: 100%;
  border-radius: 0.75rem;
  background: linear-gradient(
    73.5deg,
    rgba(223, 159, 247, 0.8) 23%,
    rgba(255, 215, 185, 0.91) 93%
  );
  z-index: -1;
}

.overview__image {
  position: relative;
}

.overview__image img {
  border: 1px dotted;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  border-radius: 5px;
  width: 50%;
  padding: 15px 20px 45px;
  margin-top: 15px;
}

.overview__image span {
  position: absolute;
  letter-spacing: 2px;
  font-weight: bold;
  text-transform: uppercase;
  bottom: 20px;
  left: 25%;
  transform: translateX(-50%);
  background: #f9f3fb;
  padding: 3px 13px;
  border-radius: 5px;
  font-size: 12px;
}

.overview__content {
  border: 1px dotted;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  border-radius: 5px;
  width: 50%;
  margin-left: auto;
  padding: 20px;
  position: relative;
}

.overview__content img {
  position: absolute;
  top: -175px;
  left: 50px;
}

.overview__content img:last-child {
  top: 25px;
  left: -250px;
}

/*======================== Objectives Section ==========================*/
#objectives h2 {
  font-size: 49px;
  text-transform: uppercase;
  position: relative;
  width: fit-content;
  font-weight: 500;
  margin-top: 100px;
}

#objectives h2::after {
  content: "";
  position: absolute;
  top: calc(50% + 8px);
  left: 0;
  display: block;
  height: 1rem;
  width: 100%;
  border-radius: 0.75rem;
  background: linear-gradient(
    73.5deg,
    rgba(223, 159, 247, 0.8) 23%,
    rgba(255, 215, 185, 0.91) 93%
  );
  z-index: -1;
}

.objectives__cards {
  display: flex;
  justify-content: space-around;
  gap: 20px;
  margin-top: 10px;
}

.objectives__cards--card {
  padding: 30px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  background-color: #df9ff733;
}

.objectives__cards--card div {
  background-color: #fff;
  box-shadow: #959da533 0px 8px 24px;
  border-radius: 10px;
  padding: 30px;
}

.objectives__cards--card div p {
  font-size: 15px;
}

.objectives__cards--card:nth-child(2) {
  background-color: #ffd7b94d;
}
